.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 5px lightgrey;
  align-items: center;
  height: 70px;
      label {
display: none;
    }
    input {
      display: none;
    }
  &__logo {
    width: 8%;
    margin-left: 5%;
  }
  &__links {
    display: flex;
    li {
      list-style: none;
    }
    a {
      @include links-nudeMarged;
      color: $vert_4;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navigation {
    width: 100%;
    box-shadow: none;
    justify-content: space-between;
    align-items: baseline;
    float: inline-start;
    position: fixed;
    z-index: 3;
    background-color: $blanc;

    &__logo {
      width: 30%;
      margin: 15px;
  }
  &__links {
    flex-direction: column;
    ul {
      display: flex;

    }
}    
  }
}
