.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 5px lightgrey;
  align-items: center;
  height: 70px;
  &__logo {
    width: 8%;
    margin-left: 5%;
  }
  &__links {
    display: flex;

    li {
      list-style: none;
    }
    a {
      @include links-nudeMarged;
      color: $vert_4;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
