.button {
  border-radius: 50px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 26.82px;
  letter-spacing: -0.30000001192092896px;
}

.btn_filled {
  height: 59px;
  background: $gradient_1;
  box-shadow: 0 8px 14px #54b55a80;
  color: $blanc;
  border: none;
}

.btn_outlined {
  width: 182px;
  height: 59px;
  color: $vert_4;
  border: 2px solid $vert_4;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .btn_filled {
    width: 169px;
  }

  .btn_outlined {
    width: 182px;
  }
}

@media screen and (max-width: 480px) {
  .btn_filled {
    width: 325px;
  }

  .btn_outlined {
    width: 325px;
  }
}
