.section2 {
  margin-top: 4rem;
  height: 700px;
  display: flex;
  @media (max-width: 500px) {
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tree {
  @media (max-width: 1500px) {
    width: 500px;
  }
  @media (max-width: 800px) {
    width: 300px;
  }
  @media (max-width: 500px) {
    width: 300px;
    height: 200px;
    padding-left: 30%;
  }
}

.image2 {
  padding-top: 7rem;
  @media (max-width: 1500px) {
    width: 520px;
  }
  @media (max-width: 500px) {
    width: 220px;
    padding-top: 5rem;
  }
  @media (max-width: 800px) {
  }
}
.underline {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Hero-text {
  padding-top: 10%;
  padding-right: 15%;
  width: 800px;
  padding-left: 5%;
  @media (max-width: 1500px) {
    width: 500px;
    padding-right: 10%;
  }
  @media (max-width: 500px) {
    width: auto;
    margin-top: -30px;
    padding-left: 16px;
    padding-top: 0%;
    padding-right: 16px;
    @media (max-width: 800px) {
      //padding-top: 10%;
      padding-right: 5%;
      width: auto;
      padding-left: 5%;
    }
  }

  .hero-p1 {
    font-family: "Montserrat", serif;
    padding-top: 10%;
    font-size: 22px;
    @media (max-width: 1500px) {
      font-size: 15px;
    }
    @media (max-width: 500px) {
      width: auto;
      font-size: 15px;
      padding-top: 0%;
      padding-bottom: 10px;
      letter-spacing: 1px;
    }
    @media (max-width: 800px) {
      padding-top: 30px;
      font-size: 15px;
    }
  }
  .hero-p2 {
    font-family: "Montserrat", serif;
    font-size: 25px;
    @media (max-width: 1500px) {
      font-size: 15px;
    }
    @media (max-width: 500px) {
      width: auto;
      font-size: 15px;
      justify-content: space-between;
      letter-spacing: 1px;
    }
    @media (max-width: 800px) {
      padding-top: 10px;
      font-size: 15px;
    }
  }
}
.Hero-text2 {
  padding-top: 10%;
  padding-left: 15%;
  padding-bottom: 8%;
  width: 800px;
  @media (max-width: 800px) {
    padding-bottom: 0px;
  }

  @media (max-width: 500px) {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-p3 {
    font-family: "Montserrat", serif;
    padding-top: 4rem;
    font-size: 25px;
    letter-spacing: 2px;
    @media (max-width: 1500px) {
      font-size: 15px;
    }
    @media (max-width: 500px) {
      font-size: 15px;
      padding-bottom: 2rem;
      position: absolute;
      top: 90%;
      width: auto;
      padding-right: 15px;
    }
    @media (max-width: 800px) {
      padding-left: 25px;
      font-size: 15px;
    }
  }
  .underline2 {
    display: none;
    @media (max-width: 500px) {
      display: inline;
      width: 40%;
      position: absolute;
      bottom: -60%;
    }
  }
}
.dot {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  @media (max-width: 500px) {
    display: none;
  }
  @media (max-width: 800px) (min-width: 500px) {
    display: none;
  }
}

.flexbox {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 500px) {
    position: relative;
    flex-direction: column;
    width: auto;
  }
  @media (max-width: 800px) {
    height: auto;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.myslides {
  display: none;
  height: 100%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 16px;
  margin-top: -22px;
  color: green;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 6rem;
  @media (max-width: 1500px) {
    margin-right: 2rem;
  }
  @media (max-width: 500px) {
    top: 30%;
    margin-top: 0;
    padding: 0;
    left: 80%;
  }
  @media (max-width: 800px) {
    top: 30%;
    margin-top: 0;
    padding: 0;
    left: 85%;
  }
}
.prev {
  margin-left: 6rem;
  @media (max-width: 1500px) {
    margin-left: 2rem;
  }
  @media (max-width: 800px) {
    //bottom: 50%;
    margin: 0px;
    padding: 0;
    right: 90%;
  }
  @media (max-width: 500px) {
    margin-top: 0;
    padding: 0;
    right: 90%;
    margin-left: 2rem;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.imgp {
  width: 40px;
  height: 40px;
  @media (max-width: 500px) {
    width: 25px;
    height: 25px;
    margin-left: 1rem;
  }
  @media (max-width: 800px) {
    width: 25px;
    height: 25px;
    margin-left: 1rem;
  }
}
.imgn {
  width: 40px;
  height: 40px;
  @media (max-width: 500px) {
    width: 25px;
    height: 25px;
  }
  @media (max-width: 800px) {
    width: 25px;
    height: 25px;
  }
}
.top {
  @media (max-width: 1500px) {
    font-size: 30px;
  }
  @media (max-width: 800px) {
    font-size: 30px;
    position: relative;
    bottom: 10%;
    //padding-bottom: 2rem;
    font-size: 30px;
    padding-top: 10px;
  }
  @media (max-width: 500px) {
    position: relative;
    bottom: 260px;
    font-size: 30px;
    padding-top: 35px;
  }
}
.secondtop {
  @media (max-width: 1500px) {
    font-size: 30px;
  }
  @media (max-width: 800px) {
    padding-bottom: 0%;
    padding-left: 25px;
  }
  @media (max-width: 500px) {
    position: relative;
    bottom: 10%;
    padding-bottom: 2rem;
    font-size: 30px;
    padding-top: 10px;
  }
}

//Tablette
@media (max-width: 800px) and (min-width: 480px) {
  .flexbox {
    position: relative;
    flex-direction: column;
    width: auto;
    height: 100%;
  }
  .myslides {
    height: 100%;
  }
  .image2 {
    width: 300px;
    padding-top: 5rem;
  }
  .Hero-text {
    width: auto;
    padding-left: 16px;
    padding-top: 0%;
    padding-right: 16px;
    padding-bottom: 0%;
  }
  //Second page//
  .Hero-text2 {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0%;
  }

  .hero-p3 {
    padding-bottom: 2rem;
    position: absolute;
    top: 90%;
    width: auto;
    padding-right: 15px;
  }
  .section2 {
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }
  .tree {
    width: auto;
    height: 400px;
    padding-left: 30%;
  }
  .secondtop {
    font-size: 30px;
    @media (max-width: 1500px) {
      font-size: 30px;
    }
  }
}
