.calculateur {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 5%;

  &__leavesleft {
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    img {
      margin: -10%;
      width: 100%;
      position: relative;
      left: 40%;
    }
  }

  &__leavesright {
    z-index: 0;
    img {
      width: 100%;
      position: relative;
      right: 40%;
    }
  }

  .calculateur__container {
    z-index: 1;
    width: 100%;
    margin: auto;
    .contact__form {
      background-color: white;
      box-shadow: 1px 1px 5px lightgrey;
      padding: 50px 100px 50px 100px;
      border-radius: 10px;
      .labelInput-column {
        width: 100%;
        input {
          width: 100%;
          color: lightgray;
        }
      }
    }
  }
}

/* Style général de la fenêtre modale */
.modal {
  display: none; /* caché par défaut */
  position: fixed; /* rester en place même quand on défile */
  z-index: 1; /* s'assurer qu'elle est au-dessus de tout autre contenu */
  left: 10%;
  top: 30%;
  width: 80%;
  height: 100%;
  padding-top: 60px; /* espace au sommet */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 40px 20px 40px 20px;
  border-radius: 10px; /* Ajout du border-radius de 10px */
  box-shadow: 1px 1px 10px gray;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .calculateur {
    margin-top: 15%;
    &__leavesleft {
      display: none;
    }
    &__leavesright {
      display: none;
    }
    .calculateur__container {
      width: 90%;
      margin: auto;
      button {
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
      }
      .contact__form {
        margin: auto;
        margin-bottom: 5px;
        padding: 0px;
        display: flex;
        flex-direction: column;

        .labelInput-column {
          width: 90%;
          align-items: baseline;
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .labelInput-column {
    width: 100%;
    align-items: center;
  }
}
