.contact {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-top: 5%;

  &__leavesleft {
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    img {
      margin: -10%;
      width: 100%;
      position: relative;
      left: 40%;
    }
  }

  &__leavesright {
    .contact__leavesright-elipses {
      display: flex;
      position: relative;
      z-index: 2;
      margin-bottom: 20%;
      .contact__leavesright-elipseslittle {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        right: 25%;
        img[src="/images/Ellipse 63.svg"] {
          margin-top: 30px;
          width: 90%;
        }
        img[src="/images/Ellipse 62.svg"] {
          width: 110%;
        }
      }
    }
    img {
      width: 100%;
      position: relative;
      right: 40%;
      z-index: 0;
    }
  }

  .contact__container {
    z-index: 1;
    width: 100%;
    margin: auto;
    .contact__form {
      background-color: white;
      box-shadow: 1px 1px 5px lightgrey;
      padding: 50px 100px 50px 100px;
      border-radius: 10px;

      .contact__form-columns1 {
        display: flex;
      }

      .contact__form-columns2 {
        @extend .contact__form-columns1;
      }
      .labelTextarea-column {
        text-align: left;
        margin: 20px;
        display: flex;
        flex-direction: column;
      }
      &-button {
        text-align: right;
      }
    }
  }
}

.labelInput-column {
  text-align: left;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.input-borderbottom {
  color: lightgrey;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  border-bottom: 1px solid lightgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .contact {
    margin-top: 20%;
    &__leavesleft {
      display: none;
    }
    &__leavesright {
      display: none;
    }
    .contact__container {
      width: 90%;
      margin: auto;
      margin-top: 5%;
      h1 {
        text-align: left;
      }
      .contact__form {
        margin: auto;
        margin-bottom: 5%;
        margin-top: 10%;
        padding: 0px;
        height: 500px;
        display: flex;
        flex-direction: column;
        .contact__form-columns1 {
          flex-wrap: nowrap;
          order: 2;

          .labelInput-column {
            width: 50%;
            align-items: baseline;
            input {
              width: 100%;
            }
          }
        }
        .contact__form-columns2 {
          width: 100%;
          flex-wrap: wrap;
          order: 1;
          .labelInput-column {
            width: 100%;
            align-items: baseline;
            input {
              width: 100%;
            }
          }
        }
        .labelTextarea-column {
          order: 3;
        }
        .contact__form-button {
          order: 4;
          margin: auto;
          margin-bottom: 3%;
        }
      }
    }
  }

  .labelInput-column {
    width: 100%;
    align-items: center;
  }
  .input-borderbottom {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 800px) {
  .contact {
    margin-top: 10%;
    height: 200px;

    &__leavesleft {
      z-index: 0;
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 5%;
      img {
        margin: -10%;
        width: 80%;
        position: relative;
        left: 50%;
      }
    }

    &__leavesright {
      width: 40%;
      margin-top: 0%;
      .contact__leavesright-elipses {
        display: flex;
        position: relative;
        z-index: 2;
        margin-bottom: 20%;
        top: 0%;
        left: 20%;

        img[src="/images/Ellipse 61(1).svg"] {
          width: 50%;
        }

        .contact__leavesright-elipseslittle {
          display: flex;
          flex-direction: column;
          width: 30%;
          position: relative;
          right: 25%;
          img[src="/images/Ellipse 63.svg"] {
            margin-top: 30px;
            width: 60%;
          }
          img[src="/images/Ellipse 62.svg"] {
            width: 80%;
          }
        }
      }
    }
    .contact__container {
      .contact__form {
        padding: 10px;
        input {
          margin-top: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
  .contact {
    margin-top: 20%;

    &__leavesleft {
      img {
        width: 150%;
        position: relative;
        left: 10%;
        bottom: 10%;
      }
    }

    &__leavesright {
      z-index: 0;
      img {
        width: 100%;
        right: 40%;
      }
    }

    .contact__container {
      width: 70%;
      margin: auto;
      .contact__form {
        padding: 50px 5px 50px 5px;
        &-button {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .contact {
    height: 200px;

    &__leavesleft {
      z-index: 0;
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      margin-bottom: 5%;
      img {
        margin: -10%;
        width: 80%;
        position: relative;
        left: 50%;
      }
    }
    .contact__container {
      .contact__form {
        padding: 10px;
        input {
          margin-top: 0px;
        }
      }
    }
  }
}
