.index {
    border: red 2px solid;
    display: flex;
    width: 100%;

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: black 2px solid;
        width: 50%;
        padding: 5%;
        padding-right: 15%;
        margin-right: 5;
    }

    &__button {
        text-align: center;
        display: flex;
        justify-content: baseline;
        align-items: center;

        p {
            margin: 20px;
        }
    }


    img {
        border: black 2px solid;
        width: 50%;
    }
}