.index {
    border: red 2px solid;
    display: flex;

    &__description {
        padding-top: 220px;
    }

    &__button {
        border: yellow 3px solid;
        display: flex;
    }

    img {
        border: black 2px solid;
        width: 60%;
        height: 90%;
    }
}