.counter {
  display: block;
}
.countdown-container {
  text-align: center;
  padding-top: 10%;
  @media (max-width: 500px) {
    padding-top: 40%;
  }
}

.countdown-timer {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.time-box {
  background-color: #019961;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 1rem;
  border-radius: 0px;
  text-align: center;

  @media (max-width: 500px) {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-size: 0.7rem;
  }
}

.time-box span {
  display: block;
  font-size: 2rem;
  font-weight: normal;
  @media (max-width: 500px) {
    font-size: 20px;
    font-weight: normal;
  }
}
.HTV {
  font-size: 40px;
  padding: 2rem;
}
@media (max-width: 800px) {
  .countdown-container {
    padding-top: 30%;
  }
  .time-box {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    span {
      font-size: 2rem;
    }
  }
}
